services:
  app:
    build: .
    container_name: histafrica-backend
    environment:
      - .env
    ports:
          - 8000:8000
    volumes:
      - .:/app
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - .venv/
        - action: rebuild
          path: ./pyproject.toml
